<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group.msci.puzzlegenerator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maze.MazeView"
            android:label="@string/app_name" />
        <activity
            android:name=".maze.subviews.GameView"
            android:label="@string/app_name" />
        <activity
            android:name=".picross.PicrossPuzzleOptionsGUI"
            android:label="@string/title_activity_picross_puzzle_options_gui"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".picross.PicrossImageSelectType"
            android:label="@string/app_name" />
        <activity
            android:name=".picross.PicrossPuzzleGUI"
            android:label="@string/title_activity_picross_puzzle_gui"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".dottodot.DotToDotView"
            android:label="@string/app_name" />
        <activity
            android:name=".BallSwitch.BallSwitchPuzzleView"
            android:label="BallSwitch Puzzle Main Menu"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".dottodot.DotToDotView2"
            android:label="@string/title_activity_dot_to_dot_view2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
