<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group.msci.puzzlegenerator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.user.UserManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".maze.controllers.MazeController"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".maze.controllers.MazeMainMenuController"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".maze.controllers.GameInstanceController"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".maze.controllers.MazeScoreBoardController"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".maze.controllers.MazeHelpController"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".picross.PicrossPuzzleOptionsGUI"
            android:label="@string/title_activity_picross_puzzle_options_gui"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".picross.PicrossImageSelectType"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".picross.PicrossPuzzleGUI"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_picross_puzzle_gui"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dottodot.DotToDotMainScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".dottodot.DotToDotScoreboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".dottodot.DotToDotHelp"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".dottodot.DotToDotImageSelectType"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".dottodot.DotToDotPreviewAndWord"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BallSwitch.BallSwitchPuzzleGame"
            android:label="BallSwitch Puzzle Game"
            android:screenOrientation="portrait"/>
        <activity
            android:name="BallSwitch.BallSwitchPuzzleMainMenu"
            android:label="BallSwitch Puzzle Main Menu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BallSwitch.BallSwitchPuzzleGeneratorMenu"
            android:label="BallSwitch Puzzle Generator"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BallSwitch.BallSwitchPuzzleHelpPage"
            android:label="BallSwitch Puzzle Help Page"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BallSwitch.BallSwitchPuzzleScoreboard"
            android:label="BallSwitch Puzzle LeaderBoard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BallSwitch.BallSwitchPuzzleWinPage"
            android:label="BallSwitch Puzzle Complete Page"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".dottodot.DotToDotView"
            android:label="@string/title_activity_dot_to_dot_view2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".picross.PicrossCompleteScreen"
            android:label="@string/title_activity_picross_complete_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".picross.PicrossMainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".picross.PicrossHelpPage"
            android:label="@string/title_activity_picross_help_page"
            android:parentActivityName=".picross.PicrossMainMenu"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.group.msci.puzzlegenerator.picross.PicrossMainMenu" />
        </activity>
        <activity
            android:name=".picross.PicrossScoreboard"
            android:label="@string/title_activity_picross_scoreboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".foreground.TestForeground"
            android:label="@string/title_activity_test_foreground"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>